body{
background-color: #000;
margin: 0px;
padding: 0px;
direction:rtl;
}
a {
	text-decoration: none;
	color: #000;
	}
#containerstart {
display: block;
position: relative;
width: 800px;
height: 550px;
margin: 0px auto 0px auto;
background-image: url(images/start.png);
background-position:bottom;
}
#containervraag {
display: block;
position: absolute;
width: 778px;
height: 458px;
left: 10px;
bottom: 100px;
margin: 0px;
background-image: url(images/texting.jpg);
background-position:bottom;
}
#container {
display: block;
position: relative;
width: 800px;
height: 550px;
margin: 0px auto 0px auto;
background-image: url(images/background.png);
background-position:bottom;
}
#container2 {
display: block;
position: relative;
width: 800px;
height: 390px;
margin: 0px auto 0px auto;
background-image: url(images/background.png);
background-position:bottom;
}
#container3 {
display: block;
position: relative;
width: 800px;
height: 700px;
margin: 0px auto 0px auto;
background-image: url(images/background.png);
background-position:bottom;
}

#header{
	display: block;
	width: 100%;
	height: 150px;
	position: relative;
	float: left;
background-image: url(images/header.png);
}
#uitleg{
	display: block;
	width: 750px;
	height: auto;
	position: relative;
	float: left;
	padding: 20px;
	color: #fff;
	font-weight: bold;
	font-family: arial;
	font-size: 25px;
	text-align: center;
}
#antwoordcontainer{
	display: block;
	position: absolute;
	bottom: 25px;
	left: 30px;
	width: 740px;
	height: auto;
	margin: 0px;
	}

.antwoord{
	display: block;
	position: relative;
	float: left;
	height: 125px;
	width: 350px;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/antwoord.png);
}
.next {
	display: block;
	position: relative;
	margin: auto;
	height: 125px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/antwoord.png);
	}
video {
	display: block;
	position: absolute;
	left: 60px;
	bottom: 150px;
	background-color: black;
	margin: 0px;
	}
.start {
	display: block;
	position: relative;
	margin: auto;
	bottom: 100px;
	height: 125px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/startknop.png);
	}
