body{
background-color: #000;
margin: 0px;
padding: 0px;
direction:rtl;
}
a {
	text-decoration: none;
	color: #000;
	}
#containerstart {
display: block;
position: relative;
width: 800px;
height: 580px;
margin: 0px auto 0px auto;
background-image: url(images/start.png);
background-position:bottom;
}
#containereindscherm {
display: block;
position: relative;
width: 800px;
height: 600px;
margin: 0px auto 0px auto;
background-image: url(images/eindscherm2.png);
background-position:bottom;
}
#containervraag {
display: block;
position: absolute;
width: 778px;
height: 380px;
left: 10px;
bottom: 85px;
margin: 0px;
background-image: url(images/texting.jpg);
background-position:bottom;
}
#containervraag2 {
display: block;
position: absolute;
width: 778px;
height: 375px;
left: 10px;
bottom: 85px;
margin: 0px;
background-image: url(images/texting2.png);
background-position:bottom;
}
#containervraag3 {
display: block;
position: absolute;
width: 778px;
height: 375px;
left: 10px;
bottom: 85px;
margin: 0px;
background-image: url(images/texting3.jpg);
background-position:bottom;
}
#containerfout {
display: block;
position: absolute;
width: 778px;
height: 350px;
left: 10px;
bottom: 50px;
margin: 0px;
background-image: url(images/textingfout.jpg);
background-position:bottom;
}
#containerfout2 {
display: block;
position: absolute;
width: 778px;
height: 330px;
left: 10px;
bottom: 60px;
margin: 0px;
background-image: url(images/textingfout2.jpg);
background-position:bottom;
}
#containerfout3 {
display: block;
position: absolute;
width: 778px;
height: 300px;
left: 10px;
bottom: 90px;
margin: 0px;
background-image: url(images/textingfout3.jpg);
background-position:bottom;
}
#containerfout4 {
display: block;
position: absolute;
width: 778px;
height: 320px;
left: 10px;
bottom: 80px;
margin: 0px;
background-image: url(images/textingfout4.jpg);
background-position:bottom;
}
#containergoed {
display: block;
position: absolute;
width: 778px;
height: 358px;
left: 10px;
bottom: 40px;
margin: 0px;
background-image: url(images/textinggoed.jpg);
background-position:bottom;
}
#containergoed2 {
display: block;
position: absolute;
width: 778px;
height: 358px;
left: 10px;
bottom: 80px;
margin: 0px;
background-image: url(images/textinggoed2.jpg);
background-position:bottom;
}
#containergoed3 {
display: block;
position: absolute;
width: 778px;
height: 358px;
left: 10px;
bottom: 40px;
margin: 0px;
background-image: url(images/textinggoed3.jpg);
background-position:bottom;
}
#containergoed4 {
display: block;
position: absolute;
width: 778px;
height: 358px;
left: 10px;
bottom: 40px;
margin: 0px;
background-image: url(images/textinggoed4.jpg);
background-position:bottom;
}
#containergoed5 {
display: block;
position: absolute;
width: 778px;
height: 358px;
left: 10px;
bottom: 90px;
margin: 0px;
background-image: url(images/textinggoed6.png);
background-position:bottom;
}
#container {
display: block;
position: relative;
width: 800px;
height: 550px;
margin: 0px auto 0px auto;
background-image: url(images/background.png);
background-position:bottom;
}
#container2 {
display: block;
position: relative;
width: 800px;
height: 390px;
margin: 0px auto 0px auto;
background-image: url(images/background.png);
background-position:bottom;
}
#container3 {
display: block;
position: relative;
width: 800px;
height: 600px;
margin: 0px auto 0px auto;
background-image: url(images/background.png);
background-position:bottom;
}

#header{
	display: block;
	width: 100%;
	height: 150px;
	position: relative;
	float: left;
background-image: url(images/header.png);
}
#uitleg{
	display: block;
	width: 770px;
	height: auto;
	top: 120px;
	position: absolute;
	float: left;
	padding: 20px;
	color: #fff;
	font-weight: bold;
	font-family: arial;
	font-size: 25px;
	text-align: center;
}
#antwoordcontainer{
	display: block;
	position: absolute;
	bottom: 25px;
	left: 30px;
	width: 740px;
	height: auto;
	margin: 0px;
	}
#containereinde {
display: block;
position: absolute;
width: 778px;
height: 400px;
left: 10px;
bottom: 50px;
margin: 0px;
background-image: url(images/einde.png);
background-position:bottom;
}

.antwoord{
	display: block;
	position: relative;
	float: left;
	height: 125px;
	width: 350px;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/antwoord.png);
}
.next {
	display: block;
	position: relative;
	margin: auto;
	height: 125px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/antwoord.png);
	}
video {
	display: block;
	position: absolute;
	left: 80px;
	bottom: 100px;
	background-color: black;
	margin: 0px;
	}
.start {
	display: block;
	position: relative;
	margin: auto;
	bottom: 100px;
	height: 125px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/startknop.png);
	}
.einde {
	display: block;
	position: relative;
	margin: auto;
	bottom: 100px;
	height: 125px;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 125px;
	text-align: center;
	background-image:url(images/eindknop.png);
	}
